<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="brand"><h1>Pune.rb</h1></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right social">
          <li class="twitter"><a href="https://twitter.com/punerb" title="Follow us on Twitter" target="_blank">twitter</a></li>
          <li class="facebook"><a href="https://www.facebook.com/groups/punerb/" title="Like us on Facebook" target="_blank">facebook</a></li>
          <li class="irc"><a href="irc://irc.freenode.net/punerb">IRC</a></li>
          <li class="google"><a href="https://groups.google.com/forum/#!forum/puneruby" target="_blank">Google</a></li>
          <li class="github"><a href="https://github.com/punerb" target="_blank">Github</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <h3>Next Meet in <%= @days %> days on 11th January 2014 @ 10:30 AM
        <!--a href="http://www.meetup.com/PuneRailsMeetup/events/153629912/">(RSVP)</a-->
      </h3>
    </div>
  </div>
</div>

<div class="location">
  <iframe width="1920" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=thoughtworks+pune&amp;ie=UTF8&amp;hq=thoughtworks&amp;hnear=Pune,+Maharashtra&amp;t=m&amp;cid=12742441231705345034&amp;ll=18.572386,73.959618&amp;spn=0.056953,0.32959&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=thoughtworks+pune&amp;ie=UTF8&amp;hq=thoughtworks&amp;hnear=Pune,+Maharashtra&amp;t=m&amp;cid=12742441231705345034&amp;ll=18.572386,73.959618&amp;spn=0.056953,0.32959&amp;z=13&amp;iwloc=A"></a></small>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <h4>Previous Meetups</h4>
      ThoughtWorks on 5th October 2013 <a href="#oct2013" data-toggle="modal">[Details]</a>
      <br/>
      ThoughtWorks on 14th September 2013 <a href="#sept2013" data-toggle="modal">[Details]</a>
      <br/>
      ThoughtWorks on 3rd August 2013 <a href="#aug2013" data-toggle="modal">[Details]</a>
      <br/>
      ThoughtWorks on 6th July 2013 <a href="#jul2013" data-toggle="modal">[Details]</a>
    </div>
  </div>
</div>
<hr />

<div class="container">
  <div class="row">
    <div class="span3">
      <h2>Join Us</h2>
      <p><a href="https://groups.google.com/forum/?hl=en#!forum/puneruby">Google Group</a></p>
      <p><a href="http://www.meetup.com/PuneRailsMeetup">Meetup</a></p>
    </div>
    <div class="span3">
      <h2>Contact Us</h2>
      <p><a href="mailto:puneruby@googlegroups.com" target="_blank">PuneRuby</a> Mailing list</p>
    </div>
    <div class="span3">
      <h2>IRC Logs</h2>
      <p><a href="http://bit.ly/punerb-logs" target="_blank">#punerb</a> IRC Channel logs</p>
    </div>
    <div class="span3">
      <h2>Getting Started</h2>
      <p><a href="http://rubymonk.com" target="_blank">RubyMonk</a></p>
      <p><a href="http://mislav.uniqpath.com/poignant-guide/" target="_blank">Why's (Poignant) Guide to Ruby</a></p>
      <p><a href="http://rubylearning.com" target="_blank">Ruby Learning</a></p>
    </div>
  </div>
  <hr />
</div>

<div id="jul2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">July 6th 2013</h3>
  </div>
  <div class="modal-body">
    <h3>Details of the meetup</h3>
    <p>Introduction to Ruby Pune User Group by Mohit Thatte [<a href="http://twitter.com/mohitthatte" target="_blank">@mohitthatte</a>]</p>
    <p><a href="https://speakerdeck.com/anildigital/design-patterns-in-ruby" target="_blank"> Design Patterns in Ruby</a> by Anil Wadghule [<a href="http://twitter.com/anildigital" target="_blank">@anildigital</a>]</p>
    <p><a href="http://www.slideshare.net/anupnivargi/conurrency" target="_blank">Ruby Concurrency & Threads</a> by Anup Nivargi [<a href="http://twitter.com/noopq" target="_blank">@noopq</a>]</p>
    <p>Ruby Arduino by Nishant Modak [<a href="http://twitter.com/nishantmodak" target="_blank">@nishantmodak</a>]</p>
    <p><a href="http://more.punetech.com/event-report-puneruby-meetup" target="_blank">Report</a> at Pune Tech</p>
  </div>
</div>

<div id="aug2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Aug 3rd 2013</h3>
  </div>
  <div class="modal-body">
    <h3>Details of the meetup</h3>
    <p><a href='http://dark-ruby.herokuapp.com'>Dark side of Ruby</a> by Gautam Rege & Khushnaseeb
      [
      <a href="http://twitter.com/gautamrege" target="_blank">@gautamrege</a>,
      <a href="http://twitter.com/cloakedsoul" target="_blank">@cloakedsoul</a>
      ]
    </p>
    <p><a href="http://www.slideshare.net/mohitthatte/vagrant-puppetpunerug">Vagrant + Puppet</a> by Mohit Thatte [<a href="http://twitter.com/mohitthatte" target="_blank">@mohitthatte</a>]</p>
  </div>
</div>

<div id="sept2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Sept 14th 2013</h3>
  </div>
  <div class="modal-body">
    <h3>Details of the meetup</h3>
    <p><a href='https://github.com/prathamesh-sonpatki/benchmarking-and-optimizing-ruby'>
       Benchmarking-and-Optimizing-Ruby</a> by Prathamesh Sonpatki
       [
        <a href="https://twitter.com/_cha1tanya" target="_blank">@_cha1tanya</a>
       ]
    </p>
    <p><a href="https://github.com/juteroot/cachewarp">Thinking gems</a> by Lavanya Mohan and Harshad</p>
    <p><b>Lighting Talks</b></p>
    <p>Contributing to <a href='https://github.com/rubinius/rubinius'>
       Rubinius</a> by Anup Nivargi [<a href="http://twitter.com/noopq" target="_blank">@noopq</a>]
    </p>
    <p><a href='https://github.com/rapidftr/RapidFTR'>
       RapidFTR</a> by Gurpreet
    </p>
  </div>
</div>

<div id="oct2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Oct 5th 2013</h3>
  </div>
  <div class="modal-body">
    <h3>Details of the meetup</h3>
    <p><a href="https://github.com/bbatsov/rubocop" target="_blank">Rubocop - the Ruby linting tool</a> by Aditya Godbole
      [ <a href="http://twitter.com/aagdbl" target="_blank">@aagdbl</a> ]
    </p>
    <p><a href="https://github.com/sahilm/shelter" target="_blank">Shelter - A developer friendly shell</a> by Sahil Muthoo
     [ <a href="http://twitter.com/sahilmuthoo" target="_blank">@sahilmuthoo</a> ]
    </p>
    <p><a href="">ErrorDB</a> by Ratandeep Deshmane
      [ <a href="http://twitter.com/rtdp" target="_blank">@rtdp</a> ]
    </p>
    <p><a href="">Polyglot Persistence </a> by Nikhil Lanjewar
      [ <a href="http://twitter.com/rhetonik" target="_blank">@rhetonik</a> ]
    </p>
  </div>
</div>
