<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <title>Pune.rb | Pune Ruby User Group</title>
    <meta name="keywords" content="Pune Ruby User Group, Ruby, Sinatra, Rails, MRI, Rubinius, JRuby, mruby">
    <meta name="description" content="Pune.rb is a Ruby User Group in the city of Pune. We assemble once a month for discussions, sort out technical problems, learn new stuff and share trending topics">
  </head>

  <body>
    <!-- header navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="brand"><h1>Pune.rb</h1></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right social">
              <li class="twitter"><a href="https://twitter.com/punerb" title="Follow us on Twitter" target="_blank">twitter</a></li>
              <li class="facebook"><a href="https://www.facebook.com/groups/punerb/" title="Like us on Facebook" target="_blank">facebook</a></li>
              <li class="irc"><a href="irc://irc.freenode.net/punerb">IRC</a></li>
              <li class="google"><a href="https://groups.google.com/forum/#!forum/puneruby" target="_blank">Google</a></li>
              <li class="github"><a href="https://github.com/punerb" target="_blank">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- End of header navbar -->

    <div class="container">
      <div class="row">
        <div class="span8">
          <%= yield %>
        </div>
        <div class="span4">
          <%= erb :twitter_widget  %>
        </div>
      </div>
    </div>

    <!-- footer bar -->
    <div class="container">
      <div class="row">
        <div class="span3">
          <h2>Join Us</h2>
          <p><a href="https://groups.google.com/forum/?hl=en#!forum/puneruby">Google Group</a></p>
          <p><a href="http://www.meetup.com/PuneRailsMeetup">Meetup</a></p>
        </div>
        <div class="span3">
          <h2>Contact Us</h2>
          <p><a href="mailto:puneruby@googlegroups.com" target="_blank">PuneRuby</a> Mailing list</p>
        </div>
        <div class="span3">
          <h2>IRC Logs</h2>
          <p><a href="http://bit.ly/punerb-logs" target="_blank">#punerb</a> IRC Channel logs</p>
        </div>
        <div class="span3">
          <h2>Getting Started</h2>
          <p><a href="http://rubymonk.com" target="_blank">RubyMonk</a></p>
          <p><a href="http://mislav.uniqpath.com/poignant-guide/" target="_blank">Why's (Poignant) Guide to Ruby</a></p>
          <p><a href="http://rubylearning.com" target="_blank">Ruby Learning</a></p>
        </div>
      </div>
      <hr />
    </div>
    <!-- Enf of footer bar-->

    <script type="text/javascript" src="/assets/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>

    <!-- Google Analytics Snippet -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43790002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type =
       'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ?
         'https://ssl' : 'http://www') +
       '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();

    </script>

  </body>

</html>

