<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <title>Pune.rb | Pune Ruby User Group</title>
    <meta name="keywords" content="Pune Ruby User Group, Ruby, Sinatra, Rails, MRI, Rubinius, JRuby, mruby">
    <meta name="description" content="Pune.rb is a Ruby User Group in the city of Pune. We assemble once a month for discussions, sort out technical problems, learn new stuff and share trending topics">
  </head>

  <body>

    <%= yield %>
    
    <script type="text/javascript" src="/assets/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>

    <!-- Google Analytics Snippet -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43790002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type =
       'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ?
         'https://ssl' : 'http://www') +
       '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();

    </script>

  </body>

</html>

