body {
	padding-top: 90px;
	font: 14px/1.5 'Roboto', sans-serif;
}
.navbar-fixed-top .navbar-inner {
	min-height: 70px;
	box-sizing: border-box;
	background: rgba(255,255,255,.9);
	border-top: 3px #DD3E2B solid;
	border-bottom: 2px solid #e1e1e1;
	box-shadow: none;
}
.navbar .brand {
	font-size: 30px;
	color: #DD3E2B;
}
.navbar .social {
	display: block;
	float: right;
	list-style: none;
	margin: 18px 0 0 0;
}
.navbar .social li a {
	background: url(/assets/images/social.png);
	width: 32px;
	height: 24px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
	margin: 0 0 0 25px;
	padding: 0;
	transition: -webkit-filter 0.25s ease-in;
	 -webkit-filter: grayscale(100%);  
}
.navbar .social li.twitter a {
	background-position: -86px 0px;
	width: 27px;
}
.navbar .social li.facebook a {
	background-position: -42px 0px;
	width: 11px;
}
.navbar .social li.irc a {
	background-position: 0px 0px;
	width: 21px;
}
.navbar .social li.google a {
	background-position: -126px 0;
	width: 23px;
}
.navbar .social li.github a {
	background-position: -170px 0;
	width: 24px;
  margin-top: 1px;
}
.navbar .social li a:hover{
	-webkit-filter: grayscale(0);
}
h3 {
	font-weight: normal;
	margin-bottom: 30px;
}
h2 {
	color: #DD3E2B;
	font-weight: normal;
}
